{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>
                {{ user.firstName }}&nbsp;{{ user.lastName }}<br />
                <small>
                    {% include '@App/Members/member_status.html.twig' with {'user': user} %}
                    {% if 'ROLE_SUPER_ADMIN' in user.roles or 'ROLE_ADMIN' in user.roles %}
                        <span class="label label-info">Admin</span>
                    {% endif %}
                </small>
            </h1>
            <dl>
                <dt>{{ 'app.members.email'|trans }}</dt>
                <dd>{{ user.email }}</dd>
                <dt>{{ 'app.members.firstname'|trans }}</dt>
                <dd>{{ user.firstName }}</dd>
                <dt>{{ 'app.members.lastname'|trans }}</dt>
                <dd>{{ user.lastName }}</dd>
                <dt>{{ 'app.members.address'|trans }}</dt>
                <dd>{{ user.address|nl2br }}</dd>
            </dl>
        </div>
    </div>

{% endblock %}

