{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ 'app.members.members'|trans }}</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(member_statuses_form) }}
                    {{ form_widget(member_statuses_form) }}
                    {{ form_end(member_statuses_form) }}
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'app.members.firstname'|trans, 'user.firstName') }}
                        {% if pagination.isSorted('user.firstName') %}
                            {% if pagination.direction == 'asc' %}⬆{% else %}⬇{% endif %}
                        ️️{% endif %}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'app.members.lastname'|trans, 'user.lastName') }}
                        {% if pagination.isSorted('user.lastName') %}
                            {% if pagination.direction == 'asc' %}⬆{% else %}⬇{% endif %}
                        ️️{% endif %}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'app.members.email'|trans, 'user.email') }}
                        {% if pagination.isSorted('user.email') %}
                            {% if pagination.direction == 'asc' %}⬆{% else %}⬇{% endif %}
                        ️️{% endif %}
                    </th>
                    <th>{{ 'app.members.status'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <td><a href="{{ path('member_details', {'email': user.email}) }}">{{ user.firstName }}</a></td>
                        <td><a href="{{ path('member_details', {'email': user.email}) }}">{{ user.lastName }}</a></td>
                        <td><a href="{{ path('member_details', {'email': user.email}) }}">{{ user.email }}</a></td>
                        <td>
                            {% include '@App/Members/member_status.html.twig' with {'user': user} %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}