{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Members</h1>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{ 'app.members.email'|trans }}</th>
                    <th>{{ 'app.members.firstname'|trans }}</th>
                    <th>{{ 'app.members.lastname'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('member_details', {'email': user.email}) }}">{{ user.email }}</a></td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}